<div class="jumbotron">
  <h1>MUSIC IS AWESOME!</h1>
  <p>This is a database for music.</p>
  <p><a class="btn btn-success btn-lg" href="artists" role="button">View Our Artist</a></p>
</div>

<div class="container">
    <div class="row">
         <div class="col-md-3">
           <img src="http://upload.wikimedia.org/wikipedia/en/9/9a/Charlotte-Hornets_new_logo.png">
         </div>  
      
         <div class="col-md-6">
             <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/004/cache/african-lion-male_436_600x450.jpg">
         </div>
      
      <div class="col-md-3">
             <img src="http://prod.static.panthers.clubs.nfl.com/nfl-assets/img/gbl-ico-team/CAR/logos/home/large.png">
      </div?     
