<h1>Where's My Bus?</h1>

<p>Choose you station from the list below, then click "Where's my Bus?"</p>

<%= form_tag("/pages/yourBuses", method: "post") do %>
<%= select_tag "station", options_for_select(MartaApp::Application.config.stations) %>
<%= submit_tag("Where's my bus?") %>
<% end %>